<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<a class="navbar-brand" style="margin-left: 50px" href="/">EduSpace</a>

	<div class="collapse navbar-collapse d-flex flex-column justify-content-between" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/profesores">Profesores</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/materias">Materias </a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/login"><i class="fa-solid fa-user" Style=" margin-left: 20px;"></i> </a>
			</li>
		</ul>
	</div>
</nav>
